/* Color Theme Swatches in Hex */
.blue-smoke-muted-1-hex { color: #4A5259; }
.blue-smoke-muted-2-hex { color: #024873; }
.blue-smoke-muted-3-hex { color: #5E7F8C; }
.blue-smoke-muted-4-hex { color: #99B8BF; }
.blue-smoke-muted-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.blue-smoke-muted-1-rgba { color: rgba(74, 82, 89, 1); }
.blue-smoke-muted-2-rgba { color: rgba(2, 72, 115, 1); }
.blue-smoke-muted-3-rgba { color: rgba(94, 127, 140, 1); }
.blue-smoke-muted-4-rgba { color: rgba(153, 184, 191, 1); }
.blue-smoke-muted-5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.blue-smoke-muted-1-hsla { color: hsla(207, 9, 31, 1); }
.blue-smoke-muted-2-hsla { color: hsla(202, 96, 22, 1); }
.blue-smoke-muted-3-hsla { color: hsla(196, 19, 45, 1); }
.blue-smoke-muted-4-hsla { color: hsla(191, 22, 67, 1); }
.blue-smoke-muted-5-hsla { color: hsla(0, 0, 5, 1); }
