/* Color Theme Swatches in Hex */
.orange-sunset-colorful-1-hex { color: #F24162; }
.orange-sunset-colorful-2-hex { color: #54628C; }
.orange-sunset-colorful-3-hex { color: #F2A25C; }
.orange-sunset-colorful-4-hex { color: #F27830; }
.orange-sunset-colorful-5-hex { color: #F24C3D; }

/* Color Theme Swatches in RGBA */
.orange-sunset-colorful-1-rgba { color: rgba(242, 65, 98, 1); }
.orange-sunset-colorful-2-rgba { color: rgba(84, 98, 140, 1); }
.orange-sunset-colorful-3-rgba { color: rgba(242, 162, 92, 1); }
.orange-sunset-colorful-4-rgba { color: rgba(242, 120, 48, 1); }
.orange-sunset-colorful-5-rgba { color: rgba(242, 76, 61, 1); }

/* Color Theme Swatches in HSLA */
.orange-sunset-colorful-1-hsla { color: hsla(348, 87, 60, 1); }
.orange-sunset-colorful-2-hsla { color: hsla(225, 25, 43, 1); }
.orange-sunset-colorful-3-hsla { color: hsla(28, 85, 65, 1); }
.orange-sunset-colorful-4-hsla { color: hsla(22, 88, 56, 1); }
.orange-sunset-colorful-5-hsla { color: hsla(4, 87, 59, 1); }
