/* Color Theme Swatches in Hex */
.red-cubes-muted-1-hex { color: #400106; }
.red-cubes-muted-2-hex { color: #F20707; }
.red-cubes-muted-3-hex { color: #8C2323; }
.red-cubes-muted-4-hex { color: #737373; }
.red-cubes-muted-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.red-cubes-muted-1-rgba { color: rgba(64, 1, 6, 1); }
.red-cubes-muted-2-rgba { color: rgba(242, 7, 7, 1); }
.red-cubes-muted-3-rgba { color: rgba(140, 35, 35, 1); }
.red-cubes-muted-4-rgba { color: rgba(115, 115, 115, 1); }
.red-cubes-muted-5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.red-cubes-muted-1-hsla { color: hsla(355, 96, 12, 1); }
.red-cubes-muted-2-hsla { color: hsla(0, 94, 48, 1); }
.red-cubes-muted-3-hsla { color: hsla(0, 60, 34, 1); }
.red-cubes-muted-4-hsla { color: hsla(0, 0, 45, 1); }
.red-cubes-muted-5-hsla { color: hsla(0, 0, 5, 1); }
