/* Color Theme Swatches in Hex */
.rock-tones-deep-1-hex { color: #F0F0F2; }
.rock-tones-deep-2-hex { color: #8FADBF; }
.rock-tones-deep-3-hex { color: #F2DCC9; }
.rock-tones-deep-4-hex { color: #733C30; }
.rock-tones-deep-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.rock-tones-deep-1-rgba { color: rgba(240, 240, 242, 1); }
.rock-tones-deep-2-rgba { color: rgba(143, 173, 191, 1); }
.rock-tones-deep-3-rgba { color: rgba(242, 220, 201, 1); }
.rock-tones-deep-4-rgba { color: rgba(115, 60, 48, 1); }
.rock-tones-deep-5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.rock-tones-deep-1-hsla { color: hsla(240, 7, 94, 1); }
.rock-tones-deep-2-hsla { color: hsla(202, 27, 65, 1); }
.rock-tones-deep-3-hsla { color: hsla(27, 61, 86, 1); }
.rock-tones-deep-4-hsla { color: hsla(10, 41, 31, 1); }
.rock-tones-deep-5-hsla { color: hsla(0, 0, 5, 1); }
