/* Color Theme Swatches in Hex */
.purple-turtle-dark-1-hex { color: #686673; }
.purple-turtle-dark-2-hex { color: #162D59; }
.purple-turtle-dark-3-hex { color: #2D4B73; }
.purple-turtle-dark-4-hex { color: #F2F2F0; }
.purple-turtle-dark-5-hex { color: #8C8881; }

/* Color Theme Swatches in RGBA */
.purple-turtle-dark-1-rgba { color: rgba(104, 102, 115, 1); }
.purple-turtle-dark-2-rgba { color: rgba(22, 45, 89, 1); }
.purple-turtle-dark-3-rgba { color: rgba(45, 75, 115, 1); }
.purple-turtle-dark-4-rgba { color: rgba(242, 242, 240, 1); }
.purple-turtle-dark-5-rgba { color: rgba(140, 136, 129, 1); }

/* Color Theme Swatches in HSLA */
.purple-turtle-dark-1-hsla { color: hsla(249, 5, 42, 1); }
.purple-turtle-dark-2-hsla { color: hsla(219, 60, 21, 1); }
.purple-turtle-dark-3-hsla { color: hsla(214, 43, 31, 1); }
.purple-turtle-dark-4-hsla { color: hsla(60, 7, 94, 1); }
.purple-turtle-dark-5-hsla { color: hsla(38, 4, 52, 1); }
