/* Color Theme Swatches in Hex */
.pink-spring-colorful-1-hex { color: #8C031C; }
.pink-spring-colorful-2-hex { color: #D90452; }
.pink-spring-colorful-3-hex { color: #F20574; }
.pink-spring-colorful-4-hex { color: #3E5902; }
.pink-spring-colorful-5-hex { color: #F2B705; }

/* Color Theme Swatches in RGBA */
.pink-spring-colorful-1-rgba { color: rgba(140, 3, 28, 1); }
.pink-spring-colorful-2-rgba { color: rgba(217, 4, 82, 1); }
.pink-spring-colorful-3-rgba { color: rgba(242, 5, 116, 1); }
.pink-spring-colorful-4-rgba { color: rgba(62, 89, 2, 1); }
.pink-spring-colorful-5-rgba { color: rgba(242, 183, 5, 1); }

/* Color Theme Swatches in HSLA */
.pink-spring-colorful-1-hsla { color: hsla(349, 95, 28, 1); }
.pink-spring-colorful-2-hsla { color: hsla(338, 96, 43, 1); }
.pink-spring-colorful-3-hsla { color: hsla(331, 95, 48, 1); }
.pink-spring-colorful-4-hsla { color: hsla(78, 95, 17, 1); }
.pink-spring-colorful-5-hsla { color: hsla(45, 95, 48, 1); }
