/* Color Theme Swatches in Hex */
.rose-pastels-muted-1-hex { color: #A68083; }
.rose-pastels-muted-2-hex { color: #A64E77; }
.rose-pastels-muted-3-hex { color: #725D73; }
.rose-pastels-muted-4-hex { color: #D9C8BF; }
.rose-pastels-muted-5-hex { color: #BFA099; }

/* Color Theme Swatches in RGBA */
.rose-pastels-muted-1-rgba { color: rgba(166, 128, 131, 1); }
.rose-pastels-muted-2-rgba { color: rgba(166, 78, 119, 1); }
.rose-pastels-muted-3-rgba { color: rgba(114, 93, 115, 1); }
.rose-pastels-muted-4-rgba { color: rgba(217, 200, 191, 1); }
.rose-pastels-muted-5-rgba { color: rgba(191, 160, 153, 1); }

/* Color Theme Swatches in HSLA */
.rose-pastels-muted-1-hsla { color: hsla(355, 17, 57, 1); }
.rose-pastels-muted-2-hsla { color: hsla(332, 36, 47, 1); }
.rose-pastels-muted-3-hsla { color: hsla(297, 10, 40, 1); }
.rose-pastels-muted-4-hsla { color: hsla(20, 25, 80, 1); }
.rose-pastels-muted-5-hsla { color: hsla(11, 22, 67, 1); }
